<ion-content>
  <ion-fab top right>
      <!--
      <button ion-fab mini color="primary" [disabled]="!isChange" (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
      <button ion-fab mini color="danger" [disabled]="!isChange" (click)="cancel()"><ion-icon name="close"></ion-icon></button>
      -->
      <button ion-fab hidden></button><!--isto é um truque para o ion-button ter o comportamento do ion-fab-->
      <button ion-button round outline small icon-start color="primaty" [hidden]="novoAnexo.imagem == ''" [disabled]="!isReadyToSave" (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
      <button ion-button round outline small icon-start color="danger" [hidden]="novoAnexo.imagem == ''" [disabled]="!isReadyToSave" (click)="cancel()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <ion-fab top center>
      <button ion-fab color="primary" [hidden]="novoAnexo.imagem" (click)="getPicture()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list>
    <ion-list-header>
        <b>ANEXOS</b>
    </ion-list-header>
    <ion-item *ngIf="novoAnexo.imagem" text-wrap>
      <ion-input type="text" [(ngModel)]="novoAnexo.descricao" maxlength="50" placeholder="Descrição Obrigatória" (ionChange)="changeDescricao()"></ion-input>
    </ion-item>
    <ion-item *ngIf="novoAnexo.imagem">
      <ion-card>
        <img [src]="novoAnexo.imagem"/>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item text-wrap *ngFor="let anexo of anexos">
      <ion-card>
        <ion-card-content>
          <p>
            {{anexo.descricao}}
          </p>
        </ion-card-content>
        <img [src]="anexo.imagem"/>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
