<ion-content>
  <ion-fab top right>
      <!--
      <button ion-fab mini color="primary" [disabled]="!isChange" (click)="save()"><ion-icon name="checkmark"></ion-icon></button>
      <button ion-fab mini color="danger" [disabled]="!isChange" (click)="cancel()"><ion-icon name="close"></ion-icon></button>
      -->
      <button ion-fab hidden></button><!--isto é um truque para o ion-button ter o comportamento do ion-fab-->
      <button ion-button round outline small icon-start color="primaty" [hidden]="!isReadyToSave" (click)="save()"><ion-icon name="checkmark"></ion-icon>Salvar</button>
      <button ion-button round outline small icon-start color="danger" [hidden]="!isReadyToSave" (click)="cancel()"><ion-icon name="close"></ion-icon>Cancelar</button>
  </ion-fab>

  <ion-fab top center>
      <button ion-fab color="primary" [hidden]="isReadyToSave" (click)="getPicture()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list>
    <ion-list-header>
        <b>ANEXOS</b>
    </ion-list-header>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
      <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
      <!--<div class="profile-image-wrapper" (click)="getPicture()">-->
        <!--
        <div class="profile-image-placeholder" *ngIf="!this.form.controls.photo.value">
          <ion-icon name="add"></ion-icon>
          <div>
              Adicionar Imagem
          </div>
        </div>
        -->
        <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.photo.value"></div>
      <!--</div>-->
      <ion-item text-wrap [hidden]="!isReadyToSave">
        <ion-input type="text" maxlength="50" placeholder="Descrição Obrigatória" formControlName="descricao"></ion-input>
      </ion-item>

    </form>
  </ion-list>

  <ion-list>
    <ion-item text-wrap *ngFor="let anexo of anexos">
      <ion-card>
        <ion-card-content>
          <p>
            {{anexo.descricao}}
          </p>
        </ion-card-content>
        <img [src]="anexo.imagem"/>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
