<ion-header>
  <ion-navbar color="royalblue">
    <ion-title>
      Equipes
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="showNewEquipe()">
        <ion-icon name="add" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="ios"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-spinner name="ios" *ngIf="equipesList==0"></ion-spinner>

  <ion-fab top right>
    <button ion-fab hidden></button><!--isto é um truque para o ion-button ter o comportamento do ion-fab-->
    <button ion-button round outline small icon-start color="primaty" [hidden]="!showDivAdd" [disabled]="!isReadyToSave" (click)="addEquipe()"><ion-icon name="checkmark"></ion-icon></button>
    <button ion-button round outline small icon-start color="danger" [hidden]="!showDivAdd" (click)="cancel()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>

  <div *ngIf="showDivAdd" padding marging>
    <ion-label stacked color="primary">Nome da Equipe</ion-label>
    <ion-input #inputnome type="text" [(ngModel)]="nomeEquipe" maxlength="20" (ionChange)="changeNome()" autocomplete="on" autocorrect="on" style="border-style: solid;border-color: gray;border-width: thin"></ion-input>
  </div>

  <ion-list *ngIf="equipesList != 0">
    <ion-item-sliding *ngFor="let equipe of equipesList">
      <button ion-item (click)="openEquipe(equipe)">
        <!--
        <p *ngFor="let u of usuarios | equipeFilter:equipe.id">{{u.usuario}}: {{u.perfil}}
          <ion-badge color="secondary" item-end>{{u.quantAtendimentos}}</ion-badge>
        </p>
        -->
        <ion-grid no-padding>
          <ion-row>
            <!--col-12 é o valor máximo-->
            <ion-col col-8><h2>{{equipe.nome}}</h2></ion-col>
            <ion-col col-4 style="text-align: center"><ion-note>Atendimentos</ion-note></ion-col>
          </ion-row>
          <ion-row *ngFor="let u of usuarios | equipeFilter:equipe.id">
            <ion-col col-8>
              <p *ngIf="u.perfil == ''" style="color: dimgray; font-weight: bold">{{u.usuario}}</p>
              <p *ngIf="u.perfil != ''" style="color: dimgray; font-weight: bold">{{u.perfil}}: {{u.usuario}}</p>
            </ion-col>
            <ion-col col-4 style="text-align: center">
              <ion-badge *ngIf="u.quantAtendimentos !== ''" color="vibrant">{{u.quantAtendimentos}}</ion-badge>
            </ion-col>
          </ion-row>
        </ion-grid>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteEquipe(equipe)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
