<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="royalblue">
    <ion-title>Mapa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
    <button ion-button color="primary" block (click)="startTracking()">Localização</button>
    <p *ngIf="locationTracker.lat != 0">Latitude: {{locationTracker.lat}}</p>
    <p *ngIf="locationTracker.lng != 0">Longitude: {{locationTracker.lng}}</p>
  </div>
</ion-content>
