<ion-header>
  <ion-navbar color="royalblue">
    <ion-title>
      Meus Atendimentos
      <!--<ion-badge item-end color="primary">{{atendimentosList.length}}</ion-badge>-->
    </ion-title>

    <!--
    <ion-searchbar [(ngModel)]="descricao" (ionInput)="buscar()" (ionCancel)="cancel()">
    </ion-searchbar>
    -->

    <!--
    <ion-buttons end>
      <button ion-button icon-only color="primary" (click)="addItem()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="searchAtendimento($event)" placeholder="@cliente #tópico $técnico"></ion-searchbar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="ios"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <!--<ion-spinner name="ios" *ngIf="atendimentosList==0"></ion-spinner>-->

  <ion-list *ngIf="atendimentosList != 0" no-padding>
    <!-- <ion-item-sliding *ngFor="let item of atendimentosList"> -->
    <button ion-item *ngFor="let item of atendimentosList; let i = index;" (click)="openAtendimento(item)">
      <!-- <ion-avatar item-start> -->
      <!--style="background-color: #f53d3d"-->
      <!-- <img [src]="item.profilePic" /> -->
      <!-- <img src="assets/img/appicon.png" /> -->
      <!-- <ion-icon name="star" color="primary" item-right></ion-icon> -->
      <!--<ion-text-avatar color="primary">{{i+1}}</ion-text-avatar> -->
      <!-- <p style="font-size:10px">Prioridade</p> -->
      <!-- </ion-avatar> -->
      <!--{{atendimentosList.length}}-->

      <ion-grid no-padding>
        <ion-row>
          <!--<ion-col col-3><ion-badge color="primary">{{item.NumAtendimento}}</ion-badge></ion-col>-->
          <ion-col col-12>
            <h2 *ngIf="!(item.SLA.indexOf('Atraso') > -1)">
              <ion-badge color="primary">{{item.NumAtendimento}}</ion-badge> {{item.Cliente}}
            </h2>
            <h2 *ngIf="item.SLA.indexOf('Atraso') > -1">
              <ion-badge color="danger">{{item.NumAtendimento}}</ion-badge> {{item.Cliente}}
            </h2>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>{{item.DescTopico}}</p>
      <p *ngIf="item.Usu_Designado">Designado para: {{item.Usu_Designado}}</p>
      <p *ngIf="item.Grupo_Designado != 0"> Designado para: {{item.DescGrupoDesignado}}</p>
      <p style="font-size: 11px">
        OS <span style="color:gray; font-weight:bold">{{item.DescSituacaoOS}}</span>
        &nbsp;&nbsp;&nbsp; Atendimento <span style="color:gray; font-weight:bold">{{item.DescSituacaoAtendimento}}</span>
      </p>
      <p style="font-size: 11px">
        <ion-icon name="calendar"></ion-icon>
        &nbsp;&nbsp; {{item.Abertura}} &nbsp;&nbsp;
        <!--<ion-badge *ngIf="!(item.SLA === '' || item.SLA === 'Restam:  úteis')" color="slategray">{{item.SLA}}</ion-badge>-->
        <span *ngIf="!(item.SLA === '' || item.SLA === 'Restam:  úteis')" style="color:gray; font-weight:bold">{{item.SLA}}</span>
      </p>
      <p style="font-size: 11px">
        <ion-icon name="pin"></ion-icon>
        &nbsp;&nbsp; {{item.Endereco}} N. {{item.Numero}} {{item.Bairro}} {{item.Cidade}}
      </p>
      <!-- <ion-icon name='logo-twitter' item-end style="color: #f53d3d"></ion-icon> -->
      <!-- <ion-note item-end *ngIf="item.Protocolo">{{item.Protocolo}}</ion-note> -->
      <!-- <ion-item-divider></ion-item-divider> -->
    </button>
    <!--
      <ion-label><ion-icon name="construct"></ion-icon>Status</ion-label>
      <ion-select [(ngModel)]="item.Status" okText="OK" cancelText="Cancelar" interface="action-sheet">
          <ion-option value="0">Aguardando</ion-option>
          <ion-option value="1">Próximo</ion-option>
          <ion-option value="2">Em Execução</ion-option>
          <ion-option value="3">Concluído</ion-option>
      </ion-select>
      -->
    <!--
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          Excluir
        </button>
      </ion-item-options>
      -->
    <!-- </ion-item-sliding> -->
  </ion-list>
</ion-content>
